/* CSS declarations go here */
.search-wrapper {
    height: 800px;
    position: absolute;
    width: 100%;
    left: 0;
}

.center {
    width: 300px;
    margin: 0px auto;
}

.customButtonDiv {
    width: 300px;
}

.customButtonDiv > button {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    background: none;
    border-style: solid;
    border-radius: 5px;
    border-color: #B3B3B3;
    background-color: #fff;
    color: #B3B3B3;
    font-size: 20px;
}

.customButtonDiv > button > i {
    margin-left: 10px;
}

.search-wrapper i {
    color: #B3B3B3;
}

.pac-item {
    line-height: 60px;
}

#searchButton {
    outline: none;
    background: none;
    border: none;
    padding: 0px;
}

#searchInputDiv {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;

    top: 25%;
    padding: 0px 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #B3B3B3;
    background-color: #fff;
    position: relative;
    border-width: 1px;
    z-index: 130;

}

#searchInput {
    height: 50px;
    width: 85%;
    border-style: none;
    font-size: 20px;
}

#searchInputDiv.animate {
    top: 0%;

    -webkit-transition: top 1s ease-in-out;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;

    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 100%;

}

#searchInputDiv.animate #searchInput {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
}

textarea:focus, input:focus {
    outline: 0;
}

.map-container {
    width: 300px;
    max-width: 100%;
    height: 300px;
    margin: 20px auto;
}