<template name="following">
  <h1 class="followingPageTitle">Follow Users</h1>
  {{#each userRows}}
    {{> userRow}}
  {{/each}}

  {{> notifications}}
</template>

<template name="userRow">
  <div class="row userRow">
    {{#each row}}
        {{> user}}
    {{/each}}
  </div>
</template>

<template name="user">
  <div class="col-sm-4 user-container">
    {{> avatar user=this shape="circle" size="large"}}
    <a href="user/{{_id}}">{{profile.name}}</a>
    {{#if isFollowingUser _id}}
      <button class="btn btn-success following-button unfollowButton" value="{{_id}}">Following</button>
    {{else}}
      <button class="btn btn-primary following-button followButton" value="{{_id}}">Follow <i class="fa fa-plus"></i></button>
    {{/if}}
  </div>
</template>
