<template name="forgotPassword">
    <div class="map-bg">

        <form action="/forgot" id="forgotForm" method="post">
            <div class="container">
                <div class="landing-form">
                    <h3 class="text-center">Forgot Password</h3>

                    <div class="form-group">
                        <input type="email" id="email" class="form-control" placeholder="Email" name="email">
                        <input class="btn btn-primary btn-block" type="submit" value="Send">
                    </div>
                </div>
                <p class="text-center"><a href="{{ pathFor 'login' }}">Sign in</a></p>
                {{>notifications}}
            </div>
        </form>
    </div>
</template>

<template name="resetPassword">
    <div class="map-bg">

        {{#if resetPassword}}
            <form action="/reset-password" id="resetForm" method="post">
                <div class="container">
                    <div class="landing-form">
                        <h3 class="text-center">Reset Password</h3>

                        <div class="form-group">
                            <input type="password" id="password" class="form-control"
                                   placeholder="New Password" name="password">
                            <input type="password" id="cpassword" class="form-control"
                                   placeholder="Confirm Password" name="cpassword">
                            <input class="btn-block btn-primary btn" type="submit" value="Reset">
                        </div>
                        <p class="text-right"><a href="{{ pathFor 'login' }}">Sign in</a></p>
                    </div>
                    {{>notifications}}
                </div>
            </form>
        {{else}}
            <h5>In order to reset your password you need to have a token</h5>
            <p class="text-right"><a href="{{ pathFor 'forgotPassword' }}">Sign in</a></p>
        {{/if}}
    </div>
</template>