<template name="login">
    {{#if currentUser}}
        Welcome {{username}}
    {{/if}}
    <h3>Login</h3>
    {{> notifications}}
    <form id="loginForm" action="action">
        <div>
            <label>Login</label>
            <input type="email" id="email" name="email"/>
            <br>
            <label>Password</label>
            <input type="password" id="password" name="password"/>
            <br>
            <input type="submit" id="login-button" value="Sign in"/>
            <br>
            <hr>
            <button id="facebook-login" class="btn btn-default"> Login with Facebook</button>

        </div>
    </form>
</template>