<template name="nav">
{{> drawer}}
</template>
<template name="menuItems">
  <div class="slideout-menu">
	    <ul class="nav navbar-nav">
        </ul>
  </div>
  <!--/.slideout-menu-->
</template>
<template name="drawer">
    <header role="banner">
  <div class="drawer-header">
    <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="sr-only">toggle navigation</span>
      <span class="drawer-hamburger-icon"></span>
    </button>
  </div>
  <div class="drawer-main drawer-navbar-default">
    <nav class="drawer-nav" role="navigation">
      <div class="drawer-brand"><a href="/">Mapl</a></div>
                <button class="closeButton"><i class="fa fa-remove"></i></button>
      <ul class="drawer-menu">
          <li><a href="/search"><i class="fa fa-search fa-lg"></i>Search</a></li>
          <li><a href="/bookmarks"><i class="fa fa-heart fa-lg"></i>Bookmarks</a></li>
          <li><a href="/following"><i class="fa fa-users fa-lg"></i>Following</a></li>
          <li><a href="/logout"><i class="fa fa-sign-out fa-lg"></i>Logout</a></li>
      </ul>
    </nav>
  </div>
    </header>
      </template>