<template name="register">
    <div class="map-bg">
        <div class="blur-bg">
            <div class="container">
                <div class="registration-form">
                    <h3 class="text-center">Create Account</h3>

                    <form id="registerForm" action="action">
                        <div>
                            <input type="text" id="fullName" class="form-control" placeholder="Full Name">
                            <input type="text" id="username" class="form-control" placeholder="Username">
                            <input type="email" id="email" class="form-control" placeholder="Email">
                            <input type="password" id="password" class="form-control" placeholder="Password">
                            <button type="submit" class="btn btn-primary btn-block" id="create-account"> Create
                                Account
                            </button>
                        </div>
                        <hr>
                        <p class="text-center">OR</p>
                        <hr>
                        <div class="text-center">
                            <button class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>